/*variables Font */
/* Theme Color */
/*rgb(4,9,30)*/
/*Load mixin */
/*inheritance Font */
/*common styles */
* {
  margin: 0px;
  padding: 0px; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img:focus {
  outline: none !important; }

button:focus {
  outline: none !important; }

a:focus {
  outline: none !important; }

html {
  font-family: "Avenir", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Avenir", sans-serif;
  position: relative;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

a {
  -moz-outline-style: none;
  outline: none;
  outline: 0; }

textarea:focus,
input:focus {
  outline: none; }

button:focus {
  outline: none; }

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active {
  -moz-outline-style: none;
  outline: none;
  outline: 0;
  text-decoration: none !important; }

a,
img {
  text-decoration: none;
  border: none; }

img {
  max-width: 100%; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-f input,
textarea,
button {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  resize: none; }

input[type="radio"] {
  -webkit-appearance: radio; }

input[type="checkbox"] {
  -webkit-appearance: checkbox; }

@font-face {
  font-family: Avenir;
  src: url("/asset/font/FontsFree-Net-AvenirLTStd-Book.ttf"); }
#homePage .careers {
  background-image: url("../../asset/images/banner_img.jpg");
  background-size: cover;
  padding: 70px 0px; }
  #homePage .careers .careers1 {
    color: #ffffff; }
    #homePage .careers .careers1 h1 {
      color: #032362;
      padding-top: 17px;
      font-size: 70px;
      font-weight: 600; }
    #homePage .careers .careers1 h2 {
      font-size: 40px; }
    #homePage .careers .careers1 .btnTransparent {
      background: transparent;
      border: 1px solid white;
      color: white;
      text-transform: uppercase;
      font-size: 13px;
      border-radius: 20px;
      padding: 7px 52px;
      font-weight: 100; }
      #homePage .careers .careers1 .btnTransparent:hover {
        background: white;
        color: #032362; }
      #homePage .careers .careers1 .btnTransparent:focus {
        box-shadow: none; }
#homePage .expertise .expertHead {
  width: 100%;
  justify-content: center; }
  #homePage .expertise .expertHead hr {
    border-top: 1px solid #032362;
    width: 40px;
    margin: 0 auto;
    padding-bottom: 20px; }
  #homePage .expertise .expertHead h1 {
    font-size: 30px;
    color: #032362;
    font-weight: 300; }
    #homePage .expertise .expertHead h1 span {
      font-weight: 600; }
#homePage .expertise .expertise1 {
  display: flex;
  width: 100%;
  justify-content: center; }
  #homePage .expertise .expertise1 .firstIcon {
    border-radius: 5px;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 20px; }
    #homePage .expertise .expertise1 .firstIcon img {
      background: #032362;
      height: auto;
      border-radius: 50%;
      padding: 15px;
      margin: 0 auto; }
    #homePage .expertise .expertise1 .firstIcon h6 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      color: #032362;
      padding-top: 20px; }
#homePage .thirdSec .thirdSec1 {
  display: flex;
  width: 80%;
  margin: 0 auto; }
  #homePage .thirdSec .thirdSec1 .expertHead hr {
    margin: inherit; }
  #homePage .thirdSec .thirdSec1 .expertHead h1 {
    font-weight: 700;
    text-align: initial; }
  #homePage .thirdSec .thirdSec1 .expertHead p {
    text-align: left;
    color: #666666; }
  #homePage .thirdSec .thirdSec1 .expertHead .btnTransparent {
    background: #032362;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 20px;
    padding: 7px 52px;
    font-weight: 100;
    display: block; }
    #homePage .thirdSec .thirdSec1 .expertHead .btnTransparent:hover {
      border: 1px solid #032362;
      background-color: transparent;
      color: #032362; }
    #homePage .thirdSec .thirdSec1 .expertHead .btnTransparent:focus {
      box-shadow: none; }
  #homePage .thirdSec .thirdSec1 .imgLap img {
    width: 100%; }
#homePage .fourthSec .expertHead h1 {
  font-size: 40px; }
#homePage .fourthSec .imgLap {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2); }
#homePage .businessExprt .thirdSec1 h1 span {
  font-weight: 400; }
#homePage .businessExprt .thirdSec1 p {
  width: 90%; }
#homePage .popularInst {
  background-image: url("../../asset/images/popular_img.jpg");
  background-size: cover;
  color: #ffffff !important; }
  #homePage .popularInst .populInside {
    background-image: url("../../asset/images/img2.png");
    background-size: cover;
    opacity: 0.8; }
    #homePage .popularInst .populInside .expertHead {
      color: #ffffff !important; }
      #homePage .popularInst .populInside .expertHead h1 {
        color: #ffffff !important;
        font-size: 40px;
        text-transform: uppercase; }
        #homePage .popularInst .populInside .expertHead h1 span {
          font-weight: 700; }
      #homePage .popularInst .populInside .expertHead p {
        font-size: 14px;
        width: 70%;
        margin: 0 auto; }
      #homePage .popularInst .populInside .expertHead .listSec {
        width: 100%;
        justify-content: center; }
        #homePage .popularInst .populInside .expertHead .listSec ul li {
          text-align: initial;
          list-style: square;
          font-size: 14px; }
    #homePage .popularInst .populInside .boxNum {
      width: 70%;
      margin: 0 auto; }
      #homePage .popularInst .populInside .boxNum .firstIcon {
        background-color: white;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0;
        background-image: url(../../asset/images/white_img.png); }
        #homePage .popularInst .populInside .boxNum .firstIcon h1 {
          color: #032362;
          font-weight: bold; }
        #homePage .popularInst .populInside .boxNum .firstIcon h6 {
          color: #666666;
          text-transform: uppercase;
          font-size: 20px;
          padding: 0px; }
      #homePage .popularInst .populInside .boxNum .firstIcon2 {
        transform: scale(1.2);
        margin-top: 40px; }
      #homePage .popularInst .populInside .boxNum .zindx {
        z-index: -1; }
#homePage .testimonial {
  background-color: #f7f9fd; }
  #homePage .testimonial .carousel-bg {
    background-color: none; }
    #homePage .testimonial .carousel-bg .menSec {
      margin-top: 90px !important; }
      #homePage .testimonial .carousel-bg .menSec img {
        border-radius: 50%;
        margin-right: 20px;
        width: 70px;
        height: 70px; }
    #homePage .testimonial .carousel-bg .cImg {
      width: 100%;
      display: flex; }
    #homePage .testimonial .carousel-bg .quote-image {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      width: 80px; }
    #homePage .testimonial .carousel-bg .testimonial-style .testimonial-caption-style {
      font-size: 18px;
      bottom: 50%;
      text-shadow: none;
      top: 10%;
      margin: 0 auto;
      width: 60%;
      background: #032362;
      padding: 20px 60px;
      color: white;
      font-style: italic;
      text-align: justify;
      border-radius: 10px; }
  #homePage .testimonial .testimonial-style .testimonial-authors {
    font-weight: bold;
    font-size: 15px;
    color: #032362;
    line-height: 30px;
    margin-top: 15px;
    font-style: initial; }
  #homePage .testimonial .testimonial-style .carousel-inner > .item {
    padding-top: auto;
    padding-bottom: auto;
    height: 200px; }
  #homePage .testimonial .testimonial-style .carousel-indicator .active {
    background-color: #032362; }
  #homePage .testimonial .carousel-indicators {
    bottom: 80px;
    margin-left: 20%; }
  #homePage .testimonial .testimonial-style .carousel-indicators li {
    background-color: #666666;
    list-style: disc;
    color: #666666;
    position: relative;
    width: 15px;
    height: 0px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: 0;
    font-size: 25px; }
#homePage .pding {
  padding-top: 60px;
  padding-bottom: 60px; }
#homePage .footSec {
  padding-bottom: 0px;
  background-color: #032362;
  color: #ffffff; }
  #homePage .footSec hr {
    border-top: 1px solid white; }
  #homePage .footSec .footFirst img {
    width: 50%; }
  #homePage .footSec .footFirst p {
    font-size: 13px;
    margin-top: 20px; }
  #homePage .footSec .footFirst .footIcon a i {
    background: white;
    color: #032362;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 4px;
    border-radius: 50%; }
  #homePage .footSec .blogSec {
    font-size: 15px; }
    #homePage .footSec .blogSec .footCls img {
      width: 25%; }
    #homePage .footSec .blogSec .footCls .footCls2 {
      flex-direction: column; }
      #homePage .footSec .blogSec .footCls .footCls2 p {
        margin: 0px; }
      #homePage .footSec .blogSec .footCls .footCls2 .lastTxt {
        font-size: 13px;
        font-weight: 100;
        opacity: 0.9; }
  #homePage .footSec .hrCopy {
    width: 80%;
    border-top: 2px solid white;
    margin: 0 auto;
    padding-bottom: 10px; }
  #homePage .footSec .footer-copyright {
    padding-top: 10px;
    padding-bottom: 30px; }

.course {
  background-image: url("../../asset/images/courseBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px; }
  .course .course1 {
    width: 100%;
    text-align: center;
    color: #032362; }
    .course .course1 h1 {
      background: white;
      width: 33%;
      margin: 0 auto;
      text-transform: uppercase;
      height: 73px;
      padding: 15px 0px;
      margin-top: 118px;
      font-weight: bold;
      font-size: 35px; }

.statisticCLs .static1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px; }
  .statisticCLs .static1 .imgLap img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .statisticCLs .static1 .staticHead {
    padding: 30px; }
    .statisticCLs .static1 .staticHead h1 {
      color: #032362;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 26px; }
    .statisticCLs .static1 .staticHead p {
      font-size: 14px;
      text-align: justify; }
    .statisticCLs .static1 .staticHead .btnTransparent {
      font-size: 13px;
      color: #032362;
      background: transparent;
      border: 1px solid #032362;
      padding: 7px 60px;
      border-radius: 0px;
      font-weight: bold; }
      .statisticCLs .static1 .staticHead .btnTransparent:focus {
        box-shadow: none; }
      .statisticCLs .static1 .staticHead .btnTransparent:hover {
        background: #032362;
        color: white; }

.corpo {
  width: 80%;
  margin: 0 auto; }
  .corpo .static1 {
    height: 630px;
    margin-top: 0px; }
    .corpo .static1 .imgLap img {
      border-bottom-left-radius: 0px;
      border-top-right-radius: 6px;
      height: 257px; }
    .corpo .static1 .staticHead hr {
      width: 50px;
      border-top: 1px solid #032362;
      margin: 0 auto;
      margin-bottom: 12px; }
    .corpo .static1 .staticHead h1 {
      font-size: 22px; }
    .corpo .static1 .staticHead p {
      text-align: center; }
    .corpo .static1 .staticHead .blueIcon img {
      width: auto;
      height: 10px;
      margin-bottom: 3px; }
  .corpo .static2 {
    margin-left: 85px; }
  .corpo .static3 {
    margin-left: 30px; }
    .corpo .static3 .staticHead h1 {
      font-size: 20px; }

.lastBtn {
  width: 100%;
  display: flex;
  margin-bottom: 70px; }
  .lastBtn button {
    margin: 0 auto;
    font-size: 13px;
    background: #032362;
    color: white;
    border: 0px solid #032362;
    padding: 7px 60px;
    border-radius: 0px; }
    .lastBtn button:focus {
      box-shadow: none; }
    .lastBtn button:hover {
      color: #032362;
      background: transparent;
      border: 1px solid #032362;
      font-weight: bold; }

/*header styles */
#homePage .mainHome {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1); }
  #homePage .mainHome .nav1 {
    width: 100%; }
    #homePage .mainHome .nav1 .navbar .navRightMenu {
      justify-content: flex-end; }
      #homePage .mainHome .nav1 .navbar .navRightMenu ul li {
        padding: 0px 20px;
        text-transform: uppercase; }
        #homePage .mainHome .nav1 .navbar .navRightMenu ul li:last-child {
          padding-right: 0px; }
        #homePage .mainHome .nav1 .navbar .navRightMenu ul li a {
          color: #000000;
          font-size: 12px;
          font-weight: 400; }
          #homePage .mainHome .nav1 .navbar .navRightMenu ul li a:hover {
            color: #032362; }
    #homePage .mainHome .nav1 .logoCl img {
      width: 80%; }

/*# sourceMappingURL=style.css.map */
