* {
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
a:focus {
  outline: none !important;
}

html {
  font-family: "Avenir", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Avenir", sans-serif;
  position: relative;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
a {
  -moz-outline-style: none;
  outline: none;
  outline: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active {
  -moz-outline-style: none;
  outline: none;
  outline: 0;
  text-decoration: none !important;
}
a,
img {
  text-decoration: none;
  border: none;
}
img {
  max-width: 100%;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-f input,
textarea,
button {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  resize: none;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

@font-face {
  font-family: Avenir;
  src: url("/asset/font/FontsFree-Net-AvenirLTStd-Book.ttf");
}

#homePage {
  .careers {
    // background-color: $skyBlueColor;
    background-image: url("../../asset/images/banner_img.jpg");
    background-size: cover;
    padding: 70px 0px;
    .careers1 {
      color: $whiteColor;
      h1 {
        color: $primaryColor;
        padding-top: 17px;
        font-size: 70px;
        font-weight: 600;
      }
      h2 {
        font-size: 40px;
      }
      .btnTransparent {
        background: transparent;
        border: 1px solid white;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        border-radius: 20px;
        padding: 7px 52px;
        font-weight: 100;
        &:hover {
          background: white;

          color: $primaryColor;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .expertise {
    .expertHead {
      width: 100%;

      justify-content: center;
      hr {
        border-top: 1px solid $primaryColor;
        width: 40px;
        margin: 0 auto;
        padding-bottom: 20px;
      }
      h1 {
        font-size: 30px;
        color: $primaryColor;
        font-weight: 300;
        span {
          font-weight: 600;
        }
      }
    }

    .expertise1 {
      display: flex;
      width: 100%;
      justify-content: center;
      .firstIcon {
        border-radius: 5px;
        flex-direction: column;
        text-align: center;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        img {
          // width: 70%;
          // background: blue;
          // border-radius: 50%;
          // padding: 10px;
          // margin: 0 auto;
          // width: 100%;
          background: $primaryColor;
          height: auto;
          border-radius: 50%;
          padding: 15px;
          margin: 0 auto;
        }
        h6 {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          color: $primaryColor;
          padding-top: 20px;
        }
      }
    }
  }
  .thirdSec {
    .thirdSec1 {
      display: flex;
      width: 80%;
      margin: 0 auto;
      .expertHead {
        hr {
          margin: inherit;
        }
        h1 {
          font-weight: 700;
          text-align: initial;
        }
        p {
          text-align: left;
          color: $grayColor;
        }
        .btnTransparent {
          background: $primaryColor;
          border: 1px solid white;
          color: white;
          text-transform: uppercase;
          font-size: 13px;
          border-radius: 20px;
          padding: 7px 52px;
          font-weight: 100;
          display: block;
          &:hover {
            border: 1px solid $primaryColor;
            background-color: transparent;
            color: $primaryColor;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      .imgLap {
        img {
          width: 100%;
        }
      }
    }
  }
  .fourthSec {
    .expertHead {
      h1 {
        font-size: 40px;
      }
    }

    .imgLap {
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .businessExprt {
    .thirdSec1 {
      h1 {
        span {
          font-weight: 400;
        }
      }
      p {
        width: 90%;
      }
    }
  }

  .popularInst {
    background-image: url("../../asset/images/popular_img.jpg");
    background-size: cover;
    color: $whiteColor !important;
    .populInside {
      background-image: url("../../asset/images/img2.png");
      background-size: cover;
      opacity: 0.8;
      .expertHead {
        color: $whiteColor !important;
        h1 {
          color: $whiteColor !important;
          font-size: 40px;
          text-transform: uppercase;
          span {
            font-weight: 700;
          }
        }
        p {
          font-size: 14px;
          width: 70%;
          margin: 0 auto;
        }
        .listSec {
          width: 100%;
          justify-content: center;
          ul {
            li {
              text-align: initial;
              list-style: square;
              font-size: 14px;
            }
          }
        }
      }
      .boxNum {
        width: 70%;
        margin: 0 auto;

        .firstIcon {
          background-color: white;
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
          border-radius: 0;
          background-image: url(../../asset/images/white_img.png);
          h1 {
            color: $primaryColor;
            font-weight: bold;
          }
          h6 {
            color: $grayColor;
            text-transform: uppercase;
            font-size: 20px;
            padding: 0px;
          }
        }
        .firstIcon2 {
          transform: scale(1.2);
          margin-top: 40px;
        }
        .zindx {
          z-index: -1;
        }
      }
    }
  }

  // testimonial
  .testimonial {
    background-color: $skyBlueColor;

    .carousel-bg {
      background-color: none;

      // margin-bottom: 40px;

      .menSec {
        margin-top: 90px !important;
        img {
          border-radius: 50%;
          margin-right: 20px;
          width: 70px;
          height: 70px;
        }
      }
      .cImg {
        width: 100%;
        display: flex;
        img {
        }
      }
      .quote-image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 80px;
      }

      .testimonial-style .testimonial-caption-style {
        font-size: 18px;
        bottom: 50%;
        text-shadow: none;
        top: 10%;
        margin: 0 auto;
        width: 60%;
        background: #032362;
        padding: 20px 60px;
        color: white;
        font-style: italic;
        text-align: justify;
        border-radius: 10px;
      }
    }

    .testimonial-style .testimonial-authors {
      font-weight: bold;
      font-size: 15px;
      color: $primaryColor;
      line-height: 30px;
      margin-top: 15px;
      font-style: initial;
    }
    .testimonial-style .carousel-inner > .item {
      padding-top: auto;
      padding-bottom: auto;
      height: 200px;
    }

    .testimonial-style .carousel-indicator .active {
      background-color: $primaryColor;
    }
    .carousel-indicators {
      bottom: 80px;

      margin-left: 20%;
    }
    .testimonial-style .carousel-indicators li {
      background-color: $grayColor;
      list-style: disc;
      color: $grayColor;
      position: relative;

      width: 15px;
      height: 0px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: 0;
      font-size: 25px;
    }
  }

  .pding {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  // footer

  .footSec {
    padding-bottom: 0px;
    background-color: $primaryColor;
    color: $whiteColor;
    hr {
      border-top: 1px solid white;
    }
    .footFirst {
      img {
        width: 50%;
      }
      p {
        font-size: 13px;
        margin-top: 20px;
      }
      .footIcon {
        a {
          i {
            background: white;
            color: $primaryColor;
            width: 25px;
            height: 25px;
            text-align: center;
            padding: 4px;
            border-radius: 50%;
          }
        }
      }
    }

    .blogSec {
      font-size: 15px;
      .footCls {
        img {
          width: 25%;
        }
        .footCls2 {
          flex-direction: column;
          p {
            margin: 0px;
          }
          .lastTxt {
            font-size: 13px;
            font-weight: 100;
            opacity: 0.9;
          }
        }
      }
    }
    .hrCopy {
      width: 80%;
      border-top: 2px solid white;
      margin: 0 auto;
      padding-bottom: 10px;
    }

    .footer-copyright {
      padding-top: 10px;
      padding-bottom: 30px;
    }
  }
}

/////////////////////////////////////  courses Page

.course {
  background-image: url("../../asset/images/courseBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  .course1 {
    width: 100%;
    text-align: center;
    color: $primaryColor;
    h1 {
      background: white;
      width: 33%;
      margin: 0 auto;
      text-transform: uppercase;
      height: 73px;
      padding: 15px 0px;
      margin-top: 118px;
      font-weight: bold;
      font-size: 35px;
    }
  }
}

//second sec

.statisticCLs {
  .static1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    .imgLap {
      img {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }

    .staticHead {
      padding: 30px;
      h1 {
        color: $primaryColor;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 26px;
      }
      p {
        font-size: 14px;
        text-align: justify;
      }
      .btnTransparent {
        font-size: 13px;
        color: $primaryColor;
        background: transparent;
        border: 1px solid $primaryColor;
        padding: 7px 60px;
        border-radius: 0px;
        font-weight: bold;
        &:focus {
          box-shadow: none;
        }
        &:hover {
          background: $primaryColor;
          color: white;
        }
      }
    }
  }
}

.corpo {
  width: 80%;
  margin: 0 auto;

 
  .static1 {
    height: 630px;
    margin-top: 0px;
    .imgLap img {
      border-bottom-left-radius: 0px;
      border-top-right-radius: 6px;
      height: 257px;
    }
    .staticHead {
      hr {
        width: 50px;
        border-top: 1px solid $primaryColor;
        margin: 0 auto;
        margin-bottom: 12px;
      }
      h1 {
        font-size: 22px;
      }
      p {
        text-align: center;
      }
      .blueIcon {
        img {
          width: auto;
          height: 10px;
          margin-bottom: 3px;
        }
      }
    }
  }
  .static2 {
    margin-left: 85px;
  }
  .static3 {
    margin-left: 30px;
    .staticHead {
      h1 {
        font-size: 20px;
      }
      // button{
      //   margin-top: 40px;
      // }
    }
  }
}

.lastBtn{
  width: 100%;
    display: flex;
  
    margin-bottom: 70px;
    button{
      margin: 0 auto;
    // width: 20%;
    font-size: 13px;
    background: $primaryColor;
          color: white;
        
        border: 0px solid $primaryColor;
        padding: 7px 60px;
        border-radius: 0px;
       
        &:focus {
          box-shadow: none;
        }
        &:hover {
          color: $primaryColor;
          background: transparent;
          border: 1px solid $primaryColor;
          font-weight: bold;
        }
    }
}
