$Avenir: "Avenir";;
$AvenirRoman: "Avenir Roman";;






/* Theme Color */    
$primaryColor:#032362; 
$primaryHoverColor:#077fa2; 
$secondaryColor:#000000;
$whiteColor:#ffffff;
$blueColor:#04091e;/*rgb(4,9,30)*/
$blackColor:#000000;


$skyBlueColor :#f7f9fd;
$grayColor:#666666;