@media screen and (min-width: 1921px){
#banner{background-position: top center;}
}

@media screen and (min-width: 992px){
	header .navbar-expand-lg .navbar-nav .nav-link{padding-right: 1rem !important; padding-left: 1rem !important;}
	header .navbar{  padding: .8rem 1rem;}
}

@media (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 992.98px) {
	.main_title{ font-size: 2rem; }

}

@media (max-width: 1199.98px) {
	section {  padding: 4rem 0px;}
	.home_sec02::after {  display: none; }
}
@media (max-width: 991.98px) {
	section {  padding: 3rem 0px;}


}
@media (max-width: 767.98px) {
	.main_title{ font-size: 1.8rem;  }
    
	.banner_title{ font-size: 2rem;  }
	
	
	
	.banner_title br { display: none;}
	
	
}
@media (max-width: 575.98px) {

	.main_title{ font-size: 1.6rem;  }
	.banner_title{ font-size: 1.6rem;  }
	
}

@media (max-width: 479.98px) {
.navbar-brand img {
    height: 28px;
}
}